@font-face {
  font-family: kalimati;
  src: url('files/Kalimati.ttf');
}
body {
  margin: 0;
  /*font-family: Kalimati;*/
  font-size: 14px;
}
select{
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 2px;
  outline:none;
  padding: 4px;
  margin: 0;
}