@font-face {
  font-family: kalimati;
  src: url('files/Kalimati.ttf');
}
body {
  margin: 0;
  /*font-family: Kalimati;*/
  font-size: 14px;
}
select{
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 2px;
  outline:none;
  padding: 4px;
  margin: 0;
}
#errors{
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
#errors> .error{
  color: brown;
}
#messages{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 14px;
}
#messages> .message{
  color: darkgreen;
}