#home{
    width: 100%;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#home>#container{
    width: 83.4%;
    margin-left: 16%;
    margin-right: 0.5%;
    background-color: lightgray;
    margin-top: 0.5%;
}
#home>#container>#home_header{
    width: 100%;
    padding: 20px 0 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#home>#container>#home_header>#title{
    display: flex;
    flex-direction: column;
}
#home>#container>#home_header>#title>span{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
}
#home>#container>#home_header>#title>span>b{
    color:black;
    font-size: 18px;
    margin-left: 10px;
    color:rgba(0,0,0,0.6);
}

#home>#container>#home_header>#title>span:nth-child(1){
    font-size: 25px;
    font-weight: bold;
}
#home>#container>#home_header>#title>span:nth-child(2){
    font-size: 15px;
    color:rgba(0,0,0,0.6);
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    text-transform:uppercase ;
    margin-top: 5px;
    margin-left: 5px;
}
#home>#container>#home_header>#time{
    color:rgba(0,0,0,0.6);
    font-weight: bold;
}
#home>#container>#home_header>#time>span{
    margin-right: 10px;
}
#home>#container>#home_header>#user{
    margin-right: 20px;
    position: relative;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#home>#container>#home_header>#user>img{
    width: 6px;
    cursor: pointer;
}
#home>#container>#home_header>#user>#setting{
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    display: flex;
    flex-direction: column;
    background-color: cadetblue;
    color:white;
    border-radius: 2px;
    z-index: 1;
}
#home>#container>#home_header>#user>#setting>span{
    font-size: 14px;
    font-weight: bold;
    padding: 8px;
    width: 100%;
    cursor: pointer;
}
#home>#container>#report{
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 3px;
}
#home>#container>#report>#left{
    width: 80%;
    display: flex;
    flex-direction: column;
}
#home>#container>#report>#left>#row{
    display: flex;
    flex-direction: row;
    width: 100%;
}
#home>#container>#report>#left>#row>#year_report{
    width: 75%;
    background-color: white;
    border-radius: 2px;
    padding-top: 20px;
}
#home>#container>#report>#left>#row>#mun_report{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 24%;
    margin-left: 1%;
    border-radius: 2px;
    line-height: 20px;
    padding-top: 20px;
}
#home>#container>#report>#left>#row>#mun_report>b{
    text-align: center;
    width: 100%;
    color:#1a202c;
    font-size: 15px;
}
#home>#container>#report>#left>#row>#mun_report>#detail{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 5px;

}
#home>#container>#report>#left>#row>#mun_report>#detail>.item{
    width: 45%;
    margin-top: 5px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    background-color: #1c7430;
    padding-top: 6px;
    padding-bottom: 6px;
    color: whitesmoke;
    border-radius: 2px;
    cursor: pointer;
}
#home>#container>#report>#left>#row>#mun_report>#detail>.item:hover{
    background-color: white;
    color: black;
}
#home>#container>#report>#left>#ward_report{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 10px;
}
#home>#container>#report>#left>#ward_report>.item{
    width: 17%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 2px;
    background-color: white;
    padding: 1%;
    cursor: pointer;
    margin-right: 5px;
}
#home>#container>#report>#left>#ward_report>.item>div{
    text-align: left;
    display: flex;
    flex-direction: column;
}
#home>#container>#report>#left>#ward_report>.item>div>b {
    margin-bottom: 5px;
    color:green;
}
#home>#container>#report>#right{
    width: 19.5%;
    margin-left: 0.5%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: white;
}
#home>#container>#report>#right>#title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
}
#home>#container>#report>#right>#data{
    margin-top: 10px;
}
#home>#container>#report>#right>#data>.item{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
#home>#container>#report>#right>#data>.item>#name{

}
#home>#container>#report>#right>#data>.item>#bar{
    width: 100%;
    background-color:lightgray;
    height: 13px;
    margin-top: 7px;
    border-radius: 5px;
    font-size: 10px;
}
#home>#container>#report>#right>#data>.item>#bar>#progress{
    width: 50%;
    background-color:#0f6674;
    height: 13px;
    border-radius: 2px;
}
#home>#container>#report>#right>#data>.item{

}
#home>#container>#data_control{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
#home>#container>#data_control>button{
    margin-right: 20px;
    cursor: pointer;
    padding: 8px 12px 8px 12px;
    border: none;
    background-color: rgba(0,0,0,0.8);
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#home>#container>#data_control>button>img{
    width: 20px;
    margin-right: 10px;
}
#home>#container>#data_control>button:hover{
    background-color: green;
}
#home>#container>#note{
    color:red;
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
}