#project_entry{
    width: 100%;
    display: flex;
    flex-direction: row;
}
#project_entry>#container{
    width: 85%;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}
#project_entry>#container>#title{
    font-weight: bold;
    font-size: 25px;
    margin-left: 1%;
    margin-top: 20px;
    margin-bottom: 20px;
}
#project_entry>#container>#entry{
    width: 94%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 14px;
    background-color: white;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 2px;
    padding: 2%;
}
#project_entry>#container>#entry>.title{
    margin-right: 50px;
    margin-top: 15px;
}
#project_entry>#container>#entry>.title>span{
    font-size: 18px;
    font-weight: bold;
}
#project_entry>#container>#entry>.title>input{
    border: 1px solid rgba(0,0,0,0.2);
    padding: 5px;
    border-radius: 2px;
    outline:none;
}
#project_entry>#container>#entry>.title>.sub_title{
    margin-left: 15px;
    margin-top: 10px;
}
#project_entry>#container>#entry>.title>.sub_title>span{

}
#project_entry>#container>#entry>.title>.sub_title>input{
    border: 1px solid rgba(0,0,0,0.2);
    padding: 5px;
    border-radius: 2px;
    outline:none;
}
#project_entry table#simple{
    margin-left: 15px;
}
#project_entry table#simple>tr{

}
#project_entry table#simple>tr>td{

}
#project_entry table#simple>tr>td>span{

}
#project_entry table#simple>tr>td>input{
    border: 1px solid rgba(0,0,0,0.2);
    padding: 3px;
    border-radius: 2px;
    outline:none;
}
#project_entry>#container>#entry>.title>.sub_title>.sub_sub_title{

}
#project_entry>#container>#entry>.title>.sub_title>.sub_sub_title>span{

}
#project_entry>#container>#entry>.title>.sub_title>.sub_sub_title>input{

}
#project_entry table#border_collapse{
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
}
#project_entry table#border_collapse, table#border_collapse>tr, table#border_collapse>tr>td{
    border: 1px solid rgba(0,0,0,0.3);
    padding: 0 3px 0 3px;
}
#project_entry table#border_collapse input{
    padding: 5px;
    outline:none;
    border: none;
}
#project_entry #long_width{
    width: 500px;
}
#project_entry>#container>#controls{
    margin-top: 15px;
    margin-left: 1%;
    margin-bottom: 15px;
}
#project_entry>#container>#controls>button{
    margin-right: 15px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    padding: 5px 15px 5px 15px;
    margin-top: 15px;
    background-color: darkgray;
    color:black;
}
#project_entry>#container>#controls>button:hover{
    background-color: green;
    color:white;
}