#report{
    width: 100%;
    display: flex;
    flex-direction: row;
}
#report>#container{
    width: 83%;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    padding: 10px 1% 200px 1%;
}
#report>#container>#title{
    font-weight: bold;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
}
#report>#container>#project{
    width: 98%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1%;
    border-radius: 2px;
}
#report>#container>#project>#search_options{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#report>#container>#project>#search_options>.item{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-right: 15px;
}
#report>#container>#project>#search_options>.item>span{
    font-size: 14px;
}
#report>#container>#project>#search_options>.item>input{
    outline: none;
    border:1px solid rgba(0,0,0,0.3);
    border-radius: 2px;
    padding: 5px;
    margin-top: 2px;
}
#report>#container>#controls{
    display: flex;
    flex-direction: row;
}
#report>#container>#controls>button{
    margin-right: 15px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    padding: 5px 15px 5px 15px;
    color: whitesmoke;
    margin-top: 15px;
    background-color: gray;
    display: flex;
    flex-direction: row;
}
#report>#container>#controls>button:hover{
    background-color: #1c7430;
}
#report>#container>#project>#controls{
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#report>#container>#project>#controls>*{
    text-decoration: none;
}
#report>#container>#project>#controls button{
    margin-right: 15px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    padding: 5px 15px 5px 15px;
    color: rgba(255,255,255,0.9);
    margin-top: 15px;
    background-color: dodgerblue;
    display: flex;
    flex-direction: row;
}
#report>#container>#project>#controls button>img{
    width: 20px;
    margin-right: 10px;
}
#report>#container>#project>#controls button:hover{
    background-color: green;
    color:white;
}
#report>#container>#project>#search_result{
    background-color: white;
    width: 100%;
}
#report>#container>#project>#search_result>table{
    border:none;
    border-collapse: collapse;
    font-family: Kalimati;
    width: 100%;
}
#report>#container>#project>#search_result>table>tr{
    cursor: pointer;
}
#report>#container>#project>#search_result>table>tr:hover{
   color:darkgreen;
}
#report>#container>#project>#search_result>table>tr:nth-child(odd){
    background-color: rgba(0,0,0,0.09);;
}
#report>#container>#project>#search_result>table>tr:nth-child(1) {
    background-color:darkgray;
    color:black;
}
#report>#container>#project>#search_result>table td{

}
#report>#container>#project>#search_result>table img{
    width: 20px;
    margin-right: 15px;
}
#report>#container>#project>#search_result>table>tr>th,#report>#container>#project>#search_result>table>tr>td{
    padding: 3px;
    font-size: 14px;
    text-align: left;
}
#report>#container>#project>#search_result>table,#report>#container>#project>#search_result>table>tr,#report>#container>#project>#search_result>table>tr>th,#report>#container>#project>#search_result>table>tr>td{

}
table td, table th{
    text-align: left;
}